// Colors
// Neutral
$color-neutral: #d0d3d7;
$color-neutral-hover: #848c96;

// Primary
$color-primary: #2c67ab;
$color-primary-hover: #1d4572;

// Secondary
$color-secondary: #cc5de8;
$color-secondary-hover: #9d1bbe;

// Success
$color-success: #51cf66;
$color-success-hover: #2a993d;

// Warning
$color-warning: #FCC419;
$color-warning-hover: #b68a02;

// Danger
$color-danger: #ff6b6b;
$color-danger-hover: #d90000;

// Disabled
$color-disabled: lightgray;