<!-- <h1 class="center-text">Boton</h1>
<div class="card">
  <div class="card-content">
    <div class="left-column">
      <eds-button [color]="buttonColor" [disabled]="isDisabled">Presioname</eds-button>
    </div>
    <div class="right-column">
      <div>
        <label for="color-select">State:</label>
        <label>
          <input type="radio" name="state" (change)="setDisabled(false)" [checked]="!isDisabled"> Enable
        </label>
        <label>
          <input type="radio" name="state" (change)="setDisabled(true)" [checked]="isDisabled"> Disable
        </label>
      </div>
      <div>
        <label for="color-select">Color:</label>
        <select id="color-select" (change)="setColor($event)">
            <option value="neutral">Neutral</option>
            <option value="primary">Primary</option>
            <option value="secondary">Secondary</option>
            <option value="success">Success</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div class="code-snippet">
  <pre>
    <code>{{ buttonCodeSnippet }}</code>
  </pre>
</div>

<hr>

<h1 class="center-text">Dropdown</h1> -->













<div class="min-h-screen bg-gray-100 p-8">

<!-- Encabezado Botón -->
<h1 class="text-center text-3xl font-extrabold text-gray-800 mb-6 mt-10 bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">
  Button
</h1>

<div class="bg-white shadow-lg p-6 w-full max-w-md mx-auto p-4 max-w-3xl mx-auto rounded-t-lg">
  <div class="flex justify-between">






    <!-- Botón -->
    <div class="flex items-center p-4 max-w-3xl mx-auto">
      <eds-button [color]="buttonColor" [disabled]="isDisabled">Presioname</eds-button>
    </div>






    <!-- Opciones -->
    <div class="m bg-gray-100 p-8">
      <!-- Estados -->
      <div>
        <p class="font-semibold">State</p>
        <label class="inline-flex items-center text-green-600">
          <input type="radio" name="state" (change)="setDisabled(false)" [checked]="!isDisabled" class="form-radio text-green-500">
          <span class="ml-2">Enable</span>
        </label>
        <label class="inline-flex items-center text-green-600 ml-4">
          <input type="radio" name="state" (change)="setDisabled(true)" [checked]="isDisabled" class="form-radio text-green-500">
          <span class="ml-2">Disable</span>
        </label>
      </div>






      <!-- Colores -->
      <div>
        <p class="font-semibold">Color</p>
        <select id="color-select" (change)="setColor($event)" class="form-select mt-1 block w-full border border-gray-300 rounded-lg">
          <option value="neutral"   class="text-gray-500 font-bold">Neutral</option>
          <option value="primary"   class="text-blue-500 font-bold">Primary</option>
          <option value="secondary" class="text-purple-500 font-bold">Secondary</option>
          <option value="success"   class="text-green-500 font-bold">Success</option>
          <option value="warning"   class="text-yellow-500 font-bold">Warning</option>
          <option value="danger"    class="text-red-500 font-bold">Danger</option>
        </select>
      </div>

    </div>
  </div>
</div>

<!-- Fragmento de código HTML -->
<div class="bg-gray-900 text-white rounded-b-lg p-4 max-w-3xl mx-auto">
  <pre class="text-center mt-6">
    <code class="text-green-500">{{ buttonCodeSnippet }}</code>
  </pre>
</div>



<hr class="mt-5">

<!-- Dropdown -->
<h1 class="text-center text-3xl font-extrabold text-gray-800 mb-6 mt-10 bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">
  Dropdown
</h1>

</div>
